<!DOCTYPE html>
<html>
    <head>
        <title>Bombit</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="first-div">
            <img src="../static/images/bombit_img.jpeg" alt="">
            <form action='/send' method='POST'>
                <label for="email">email</label>
                <input type="email" name="email" placeholder="Enter Email ">
                <button type="submit">BombIt</button>
            </form>
        </div>
        <script src="../static/js/style.js"></script>
    </body>
</html>